<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMathsOperations" />
                <binding name="SoapEndPnt1" />
                <binding name="SoapEndPnt11" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="SoapEndPnt2" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MathsLibrary/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMathsOperations"
                contract="MathService.IMathsOperations" name="BasicHttpBinding_IMathsOperations" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebService_MultipleEndpoints_Different_Address/Service1/"
                binding="basicHttpBinding" bindingConfiguration="SoapEndPnt1"
                contract="ServiceReference1.IService1" name="SoapEndPnt1" />
            <endpoint address="http://localhost:8734/Design_Time_Addresses/WebService_MultipleEndpoints_Different_Address/Service1/"
                binding="basicHttpBinding" bindingConfiguration="SoapEndPnt1"
                contract="ServiceReference1.IService1" name="SoapEndPnt2" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebService_MultipleEndpoints_Different_Binding/Service1/SoapEndPnt1"
                binding="basicHttpBinding" bindingConfiguration="SoapEndPnt11"
                contract="ServiceReference2.IService1" name="SoapEndPnt11" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebService_MultipleEndpoints_Different_Binding/Service1/SoapEndPnt2"
                binding="wsHttpBinding" bindingConfiguration="SoapEndPnt2"
                contract="ServiceReference2.IService1" name="SoapEndPnt21">
                <identity>
                    <userPrincipalName value="NET\admbarna" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>